/*
 * The MIT License
 *
 * Copyright 2017 Muhammad.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

.input-field .label,
.dropdown-field .label{
    -fx-color: #18181C;
    -fx-font-size: 14px;
    -fx-font-weight: 900;
}

.input-field .input,
.combo-box {
    -fx-padding: 0 30px 0 10px;
    -fx-min-height: 44px;
    -fx-font-size: 16px;
    -fx-outline: none;
    -fx-focus-color: transparent;
    -fx-background-color: #fff;
    -fx-border-color: -fx-medium-gray-color;
    -fx-color: -fx-darker-gray-color;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-prompt-text-fill: -fx-medium-gray-color;
    -fx-background-repeat: no-repeat;
    -fx-font-weight: 400;
}

.input-field .input:focused,
.combo-box:focused,
.combo-box:hover {
    -fx-border-color: -fx-primary-color;
    -fx-effect: dropshadow(three-pass-box, -fx-primary-color, 1, 0, 0, 0);
}

.input-field--danger .input {
    -fx-border-color: -fx-danger-color;
    -fx-background-size: 16px;
    -fx-background-position: right 8px center;
    -fx-background-image:url('../../assets/error-icon.png');
}

.input-field .error-message {
    -fx-max-width: 300px;
    -fx-text-fill: -fx-danger-color;
    -fx-font-weight: 400;
    -fx-font-size: 14px;
}

/*
 DROPDOWN MENU
 */

.combo-box {
    -fx-padding: 0 30px 0 0px;
    -fx-background-size: 10px;
    -fx-background-position: right 14px center;
    -fx-background-image:url('../../assets/down-arrow.png');
    -fx-cursor: hand;
    -fx-text-fill: #18181C;
}

.combo-box:hover,
.combo-box:focused {
    -fx-background-image:url('../../assets/down-arrow-active.png');
}

.combo-box .cell:selected {
    -fx-text-fill: #18181C;
}

.dropdown-field--danger .combo-box {
    -fx-border-color: -fx-danger-color;
}

.combo-box-popup .list-view  {
    -fx-background-color: #fff;
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-padding: 4px;
    -fx-min-width: inherit;
    -fx-max-width: inherit;
    -fx-border-color: -fx-light-gray-color;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0, 0.3), 2, 0, 0, 0);
}

.combo-box-popup .list-view .list-cell {
    -fx-min-width: 190px;
    -fx-padding: 7px;
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-border-radius: 4px;
    -fx-text-fill: #18181C;
}

.combo-box-popup .list-view .list-cell:hover,
.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: rgba(77,137,251, 0.2);
    -fx-border-color: rgba(77,137,251, 0.3);
    -fx-text-fill: #18181C;
}

.combo-box .arrow, .combo-box .arrow-button {
    -fx-background-color: transparent;
}

/*
  TEXT AREA
 */
.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-padding: 0 0 0 10px !important;
}

.input-field--danger .text-area {
    -fx-background-image: none;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-highlight-fill: -fx-primary-color;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}