/*
 * The MIT License
 *
 * Copyright 2017 Muhammad.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

.cover {
    -fx-background-image: url("../../assets/profile-bg.jpg");
    -fx-background-position: top;
    -fx-background-size: cover;
}

.user-photo {
    -fx-background-color: #fff;
    -fx-background-radius: 4px 4px 0px 0px;
}

.profile-name {
    -fx-text-fill: #fff;
    -fx-font-size: 30px;
    -fx-font-weight: 700;
}

.about {
    -fx-background-color: #fff;
}

.profile-headline {
    -fx-font-size: 12px;
    -fx-text-fill: -fx-medium-gray-color;
}

.profile-number {
    -fx-font-size: 16px;
    -fx-text-fill: -fx-primary-color;
    -fx-font-weight: 700;
}

.btn-profile {
    -fx-padding: 5px 15px;
}